<div class="container">
    <div class="row m-0">
        <div class="col-3"><img class="logo m-3" src="/images/logo.png"></div>   
    </div>

    <div class="row login">
        <form method="post" action="/person" class="login-form">
            <div class="index-user_name">
                <input
                    type="text"
                    id="userName"
                    name="userName"
                    class="index-user_name_text"
                    placeholder="ユーザ名"
                />
            </div>

            <div class="index-position">
                <select id="position" name="position">
                    <option value="上司">上司</option>
                    <option value="部下" selected>部下</option>
                </select>
            </div>

            <div class="index-enter">
                <input
                    type="submit"
                    value="ログイン"
                    class="common-button index-enter_button"
                />

            </div>
        </form>
    </div>
</div>

<script src="/javascripts/index.js"></script>