<form method="post" action="/room">
    <input id="userName" name="userName" type="hidden" value="{{userName}}" />
    <input id="position" name="position" type="hidden" value="{{position}}" />
    <div class="container">
        <div class="row">
            <h1>誰に送るかの画面</h1>
        </div>
        <div class="row my-0">
            <div class="col-sm-6 mb-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Aさん</h5>
                        <p class="card-text">履歴 {{data.content}}</p>
                        <div class="index-enter">
                            <input
                                type="button"
                                value="入室する"
                                class="btn btn-success"
                                onclick="enter();"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Bさん</h5>
                        <p class="card-text">With supporting text below as a
                            natural lead-in to additional content.</p>
                        <div class="index-enter">
                            <input
                                type="button"
                                value="入室する"
                                class="btn btn-success"
                                onclick="enter();"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-0">
            <div class="col-sm-6 mb-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cさん</h5>
                        <p class="card-text">With supporting text below as a
                            natural lead-in to additional content.</p>
                        <div class="index-enter">
                            <input
                                type="button"
                                value="入室する"
                                class="btn btn-success"
                                onclick="enter();"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Dさん</h5>
                        <p class="card-text">With supporting text below as a
                            natural lead-in to additional content.</p>
                        <div class="index-enter">
                            <input
                                type="button"
                                value="入室する"
                                class="btn btn-success"
                                onclick="enter();"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="/javascripts/index.js"></script>