<div class="container">
    <div class="row">
        <h1>誰に送るかの画面</h1>
    </div>
    <div class="row my-0">
         <div class="col-sm-6 mb-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Aさん</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <form method="post" action="/room">
                        <input id="userName" name="userName" type="hidden" value="{{userName}}" >
                        <div class="index-enter">
                            <input type="button" value="入室する" class="btn btn-success" onclick="enter();">
                        </div>
                    </form>
                </div>
            </div>
        </div>
       <div class="col-sm-6 mb-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bさん</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <form method="post" action="/room">
                        <input id="userName" name="userName" type="hidden" value="{{userName}}" >
                        <div class="index-enter">
                            <input type="button" value="入室する" class="btn btn-success" onclick="enter();">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-0">
         <div class="col-sm-6 mb-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cさん</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <form method="post" action="/room">
                        <input id="userName" name="userName" type="hidden" value="{{userName}}" >
                        <div class="index-enter">
                            <input type="button" value="入室する" class="btn btn-success" onclick="enter();">
                        </div>
                    </form>
                </div>
            </div>
        </div>
       <div class="col-sm-6 mb-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dさん</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <form method="post" action="/room">
                        <input id="userName" name="userName" type="hidden" value="{{userName}}" >
                        <div class="index-enter">
                            <input type="button" value="入室する" class="btn btn-success" onclick="enter();">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/index.js"></script>